body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.temaButton{
  background-color: black;
  border-radius: 8px;
  transition: border-color 0.25s;
  border: 1px solid transparent;
  cursor: pointer;
  height: 40px;
  margin-left: 100px;
}

h1{
  text-align: center;
}

h2::first-letter{
  color:rgba(235, 235, 243, 0.678);

}

nav{
  background-color:#77E1FD;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.links{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  
}

.link{
  margin-left: 10px;
  
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color:rgb(90, 76, 216);
} 

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*padding: 2rem;*/
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px;
  margin-top: 2rem;
}

.iconos{
  display: flex;
  justify-content: space-around;

}

.iconoRedes{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.DH-logo{
  width: 250px;
  height: 60px;
  margin: 0;
  margin-right: 200px;
}

.logoRedes{
  width: 30px;
  margin-left: 20px;
  height: 30px;
  gap: 500px; 
  filter: brightness(0);
}

footer > img{
  width: 200px;
  margin: 0;
  
}
footer > p{
  background-color: #77E1FD;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom:0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}



.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(26, 194, 216);
  border-radius: 15px;
}

.cardHome{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.card-img{
  width: 198px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  
}

.favButton{
  background-color: #AEEDFD;
  width: 200px;
  height: 30px;
  transition: border-color 0.25s;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 5px;
  
  
}


.card:hover{
  border: 0.5px solid #1236F9;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}



.table {
border-collapse: collapse;
    border-spacing: 0;
    display: table;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.datos{
  display: flex;
  flex-direction: column;
  align-items: center;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #1b1a1a96;
  color: white;
}
.dark > a {
  color: white;
}